<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>KlassenArbeitsPLANer (Beta)</title>

      <!-- jQuery/Moment -->
      <script src="static/moment/moment.min.js"></script>
      <script src="static/jquery/jquery.min.js"></script>

      <!-- Bootstrap -->
      <script src="static/bootstrap/bootstrap.min.js"></script>
      <link rel="stylesheet" href="static/bootstrap/bootstrap.min.css">
      <link rel="stylesheet" href="static/bootstrap/bootstrap-icons.css">

      <!-- FullCalendar CSS -->
      <script src="static/fullcalendar/index.global.min.js"></script>
      <script src="static/fullcalendar/bootstrap5/index.global.min.js"></script>
      <script src="static/fullcalendar/locales/de.global.min.js"></script>

      <!-- FontAwesome (is this needed any longer?) -->
      <link rel="stylesheet" href="static/fontawesome/all.min.css">

      <!-- Custom CSS -->
      <link rel="stylesheet" type="text/css" href="static/css/local.css">
      
   </head>
   
   <body>
      
      <!-- flash messages -->
      <div class="w-100" style="padding-left: 100px; padding-right:200px; position: absolute;">
         <div id="flash-messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
               {% if messages %}
                  {% for category, message in messages %}
                     {% if category == 'message' %}
                        <div id="flash-message" class="alert alert-warning alert-dismissible fade show" role="alert">
                     {% else %}
                        <div id="flash-message" class="alert alert-{{ category }}" role="alert">
                     {% endif %}
                        {{ message }}
                     </div>
                  {% endfor %}
               {% endif %}
            {% endwith %}
         </div>
      </div>

      <div id="wrapper">
         {% if user['editor'] %}
            <!-- Sidebar -->
            <nav class="navbar fixed-top" id="sidebar-wrapper" role="navigation">
               <form id="filter" action="/export">
                  
                  <!-- the filter/select buttons -->
                  <input id="inpfilter" type="text" class="form-control my-2 w-100" placeholder="Klassen filtern">
                  
                  
                  <button type="button" id="btnall" class="btn btn-light my-2 w-100">Alle</button>
                  <button type="button" id="btnnone" class="btn btn-light my-2 w-100">Keine</button>
                  
                  <!-- selects -->
                  <select class="form-select my-2 w-100" id="cohortsel" multiple aria-label="multiple select example">
                     {% for c in cohort_list %}
                        <option value="{{ c }}" selected>{{ c }}</option>
                     {% endfor %}
                  </select>

                  <select class="form-select my-2 w-100" multiple id="groupsel">
                     {% for g in group_list %}
                        <option value="{{ g['id'] }}" selected>{{ g['name'] }}</option>
                     {% endfor %}
                  </select>

               </form>
            </nav>
            <!-- /#sidebar-wrapper -->
         {% else %}
            <!-- for non-editors we use a hidden select (with same id) and only one option -->
            <select style="display:none;" id="groupsel">
               {% for g in group_list %}
                  <option value="{{ g['id'] }}" selected>{{ g['name'] }}</option>
               {% endfor %}
            </select>
         {% endif %}

         <!-- Page Content -->
         <div id="page-content-wrapper">

            {% if user['editor'] %}
            <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
                <span id="togglesb" class="hamb-top">filter</span>
            </button>   
            {% endif %}


            <!-- Calendar container -->

            <div id="calendar" style="padding-left: 100px;padding-right:200px"></div>                      
         </div>
         <!-- /#page-content-wrapper -->
      </div>
      <!-- /#wrapper -->

      <!-- User/logout icon / export-button -->
      <div class="position-absolute top-0 end-0 text-end m-3">
        <a href="/logout"><i class="fas fa-user fa-lg"></i> {{ user['uid'] }} ausloggen</a><br/>
        <a id="btnexport">ICS-Export</a>
        
      </div>

      {% if user['editor'] %}
         <!-- Add event modal -->
         <div class="modal fade" id="addmodal" tabindex="-1" role="dialog" aria-labelledby="addmodal" aria-hidden="true">
           <div class="modal-dialog" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                     <h5 class="modal-title">Termin hinzufügen</h5>
                     <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <div class="modal-body">
                     <form id="addform">
                        <div class="form-group row">
                           <div class="col-sm-8 col-form-label">

                              <select class="form-select my-2 w-100" id="addgroupsel" multiple aria-label="multiple select example" readonly>
                                 <!-- will be activated dynamically -->
                                 {% for g in group_list %}
                                    <option value="{{ g['id'] }}" selected>{{ g['name'] }}</option>
                                 {% endfor %}
                              </select>
                           </div>
                              <div class="col-sm-4 col-form-label">
                        
                                 <input type="checkbox" class="btn-check" id="groupselFiltered" autocomplete="off" checked>
                                 <label class="btn btn-secondary w-100 m-1" id="groupselFilteredLabel" for="groupselFiltered">Filter ein</label>
                  
                                 <button type="button" id="addGroupselAll" class="btn btn-primary w-100 m-1">Alle</button>
                                 <button type="button" id="addGroupselNone"class="btn btn-primary w-100 m-1">Keine</button>
                                 
                              </div>
                           </div>
                           
                           <div id="addgroupwarning" class="alert alert-danger" role="alert"><div id="addgroupwarningcount" style="display:inline;"></div> Klassen können nicht ausgewählt werden.</div>

                           <div class="form-group">
                              <label for="addsubject">Fach/Leiste</label>
                              <input class="form-control" list="subjectOptions" id="addsubject" placeholder="Tippen...">
                              <!-- offer subjects as datalist to have more uniform entries -->
                              <datalist id="subjectOptions">
                                 {% for subject in subjects %}
                                    <option value="{{ subject }}">
                                 {% endfor %}
                              </datalist>
                           </div>

                           <div class="form-group">
                               <label for="adddate">Datum</label>
                               <input type="text" class="form-control" id="adddate" data-provide="datepicker">
                           </div>

                           <div class="form-group">
                               <label for="addtext">Beschreibung</label>
                               <input type="text" class="form-control" id="addtext" placeholder="Beschreibung hinzufügen">
                           </div>
                           
                           <div class="form-check" id="eventModeratedDiv" style="display:none;">
                             <input class="form-check-input" type="checkbox" value="" id="eventModerated">
                             <label class="form-check-label" for="eventModerated">Moderatoren-Termin (unlöschbar)</label>
                           </div>
                           

                       </form>
                   </div>
                   <div class="modal-footer">
                       <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                       <button type="button" class="btn btn-primary" id="addEventBtn">Termin hinzufügen</button>
                   </div>
               </div>
           </div>
         </div>

         <!-- Delete event modal -->
         <div class="modal fade" id="delmodal" tabindex="-1" role="dialog" aria-labelledby="delmodal" aria-hidden="true">
           <div class="modal-dialog" role="document">
               <div class="modal-content">
                   <div class="modal-header">
                       <h5 class="modal-title" id="delmodal">Termin löschen</h5>
                       <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                       </button>
                   </div>
                   <div id="del_event_text" class="modal-body">
                       
                   </div>
                   <!-- to hidden inputs to store event_id and event_creator -->
                   <input type="hidden" id="del_event_id" name="event_id" value="">
                   <input type="hidden" id="del_event_creator" name="event_creator" value="">
                   <div class="modal-footer">
                       <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbruch</button>
                       <button type="button" class="btn btn-danger" id="deleteEventBtn">Termin löschen</button>
                   </div>
               </div>
           </div>
         </div> 
      {% endif %}
      
      {% if user['moderator'] %}
         <!-- Add label modal - the modal that generates "label-entries" for the database-->
         <div class="modal fade" id="add-label-modal" tabindex="-1" role="dialog" aria-labelledby="add-label-modal" aria-hidden="true">
           <div class="modal-dialog" role="document">
               <div class="modal-content">
                   <div class="modal-header">
                       <h5 class="modal-title" id="add-label-modal">Markierung hinzufügen</h5>
                       <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                       </button>
                   </div>
                   <div class="modal-body">
                       <form id="add-label-form">
                           <div class="form-group">
                               <label for="labelDate">Datum</label>
                               <input type="text" class="form-control" id="labelDate" readonly>
                           </div>
                           <div class="form-group" id="divOverwrite">
                               <label for="labelOverwrite">überschreibt folgende Markierungen:</label>
                               <input type="text" class="form-control" id="labelOverwrite" readonly>
                           </div>
                           <div class="form-group" id="divOverwrite">
                               <label for="labelOverwrite">Markierungs-Text (optional):</label>
                               <input type="text" class="form-control" id="labelText">
                           </div>
                           
                           <select class="form-select my-2 w-100" id="selCategory" aria-label="select example" placeholder="Kategorie">
                              {% for c in categories %}
                                 <option value="{{ c['id'] }}">
                                    {{ c['text'] }}
                                    {% if c['blocks'] == 1 %}
                                       (blockt)
                                    {% endif %}
                                 </option>
                              {% endfor %}
                           </select>
                       </form>
                   </div>
                   <div class="modal-footer">
                       <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                       <button type="button" class="btn btn-primary" id="addLabelBtn">Markierung hinzufügen</button>
                   </div>
               </div>
           </div>
         </div>

         <!-- Delete label modal -->
         <div class="modal fade" id="del-label-modal" tabindex="-1" role="dialog" aria-labelledby="del-label-modal" aria-hidden="true">
           <div class="modal-dialog" role="document">
               <div class="modal-content">
                   <div class="modal-header">
                       <h5 class="modal-title" id="del-label-modal">Markierung löschen</h5>
                       <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                       </button>
                   </div>
                   <div class="modal-body">
                       <form id="add-label-form">
                           <div class="form-group">
                               <label for="labelDelete">Tage, deren Markierungen gelöscht werden</label>
                               <input type="text" class="form-control" id="labelDelete" readonly>
                           </div>
                       </form>
                   </div>
                   <div class="modal-footer">
                       <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbruch</button>
                       <button type="button" class="btn btn-danger" id="deleteLabelBtn">Markierung löschen</button>
                   </div>
               </div>
           </div>
         </div> 

      {% endif %}
      
   </body>
</html>


<script type="text/javascript">

   // used for selecting ranges of dates in fullcalendar
   let startDate = "";

   // returns all dates between start- and enddate
   function dateRange(startDate, endDate) {
      const date = new Date(startDate.getTime());
      const dates = [];
      while (date <= endDate) {
       dates.push(new Date(date));
       date.setDate(date.getDate() + 1);
      }
      return dates;
   }

   // allow flash messaging from within js
   function flash( text ) {
      $.post("/flash_message", { message: text }, function(data) { 
         // reload flash-message div
         $("#flash-messages" ).load(window.location.href + " #flash-messages" );
         // add timeout to (new) message
         $(".alert").fadeTo(2000, 500).slideUp(500, function(){
            $(".alert").slideUp(500);
         });
      });
   
   }

   // helper function that will scroll an multiple select down to the first selected value
   function scrollToSelected( select_id ) {
      var select = document.getElementById( select_id );
      var opts = select.getElementsByTagName("option");
      for ( var j = opts.length -1; j > 0; --j ) {
         if ( opts.item(j).selected == true ) {
            select.scrollTop = j * opts.item(j).offsetHeight;
            return;
         } 
      }
   }

   $(document).ready(function() {
      
      // we use right-click in many different contexts, therefore disabling default behaviour
      window.addEventListener("contextmenu", e => e.preventDefault());
      
      // prepare sidebar
      var trigger = $(".hamburger"),
      overlay = $(".overlay"),
      isClosed = false;

      trigger.click(function () {
         hamburger_cross();      
      });

      function hamburger_cross() {
         if (isClosed == true) {          
            overlay.hide();
            trigger.removeClass("is-open");
            trigger.addClass("is-closed");
            isClosed = false;
         } else {
            overlay.show();
            trigger.removeClass("is-closed");
            trigger.addClass("is-open");
            isClosed = true;
         }
      }
        
      $("[data-toggle=\"offcanvas\"]").click(function () {
         $("#wrapper").toggleClass("toggled");
      });  

      

      // Initialize FullCalendar
      var calendarEl = document.getElementById("calendar");
      var calendar = new FullCalendar.Calendar(calendarEl, {
         themeSystem: "bootstrap5",
         initialView: "dayGridMonth",
         headerToolbar: {
            left: "dayGridMonth,dayGridWeek",
            center: "title",
            right: "prev,next today"
         },
         //~ selectable: true,
         //~ selectMinDistance: 1, // distinguish select from dateclick
         weekends: false,
         height: "auto",
         locale: "de",
         contentHeight: "auto",
         //aspectRatio: 1,
         //eventLimit: true, needs to be changed into views
         events: {
            url: "/get-events",
            method: "POST",
            extraParams: function() { // a function that returns an object
               return {
                  sc: $("#groupsel").val()
               }
            },
            failure: function() {
               
            }
         },

         // DAY CELL - AFTER MOUNT
         dayCellDidMount: function(info) {      
                  
            // style cells according to labels
            {% for l in labels %}
              if (moment(info.date).format("YYYY-MM-DD") == "{{ l['date'] }}") {
                 info.el.style.backgroundColor = "{{ l['ccolor'] }}";
              }
            {% endfor %}

            // MOUSEMOVE (hover effect / selection of headers)
            info.el.addEventListener("mousemove", function(event) {
               
               {% if user['moderator'] %}
                  // remove selected from all classes
                  $(".selectedhead").removeClass("selectedhead");
                  
                  // if button is pressed and start date was set, then mark all headers in between
                  if ((event.buttons == 1 | event.buttons == 2) & startDate != "") {
                     // get all dates between start cell and actual cell
                     dates = dateRange(startDate, info.date);
                     for (i = 0; i < dates.length; i++) {
                        // change date format and add selected-class to cell
                        $("[data-date=" + moment(dates[i]).format("YYYY-MM-DD") + "]").children().first().children().first().addClass("selectedhead");
                     }                  
                  } else {
                     // no button pressed, no start date -> just highlight header or cell
                     if (Math.round(event.pageY - $(info.el).offset().top) < 30) {
                        info.el.childNodes[0].childNodes[0].classList.add("selectedhead");
                        info.el.classList.remove("selected");
                     } else {
                        info.el.classList.add("selected");
                        info.el.childNodes[0].childNodes[0].classList.remove("selectedhead");
                     }
                  }
               {% else %}
                  // no moderator, just hover body plus dayhead
                  info.el.classList.add("selected");
               {% endif %}
            });
            
            // MOUSEOUT (clear hover style)
            info.el.addEventListener("mouseout", function(event) {
               //if (event.mouse == 0) {
                  info.el.childNodes[0].childNodes[0].classList.remove("selectedhead");
                  info.el.classList.remove("selected");
               //}
            });
            
            {% if user['moderator'] %}

               // RIGHT CLICK TO CELL (delete all events on that day[moderator])
               info.el.addEventListener("contextmenu", function(event) {
                 
                  // this avoids that the cell right click event is called too
                  event.preventDefault();
                  event.stopPropagation();
                 
                  // get all events on that specific day
                  const filteredEvents = calendar.getEvents().filter(event => event.start.toISOString().substring(0, 10) === moment(info.date).subtract(1, "days").format("YYYY-MM-DD"));

                  //fill hidden id with ids to delete
                  $("#del_event_id").val("");
                  for (i = 0; i < filteredEvents.length; i++) {
                     $("#del_event_id").val($("#del_event_id").val() + filteredEvents[i].id + ",");
                  }
                  // remove last comma
                  $("#del_event_id").val($("#del_event_id").val().slice(0,-1));
                 
                  // change text and set event id and creator in hidden inputs on delete event form
                  $("#del_event_text").text("Soll die Termine wirklich gelöscht werden?");
                  $("#deleteEventBtn").text("Löschen");
                  // add all event ids of that day
                  
                  $("#delmodal").modal("show");

                  return false;
               });
               
            {% endif %}
            
            // EVENT (header) MOUSEDOWN (starts day selection [moderator])
            info.el.addEventListener("mousedown", function(event) {
               // start selection when clicked cell header
               if (Math.round(event.pageY - $(info.el).offset().top) < 30) {
                  startDate = info.date;
               }
            });

            // MOUSEUP ON DAY CELL (enter labels [moderator])
            // day-/event-clicking is done elsewhere
            info.el.addEventListener("mouseup", function(event) {
               
               // first distinguish WHO is clicking (moderator or not)
               {% if user['moderator'] %}
                  // as moderator: are we clicking on cell head
                  if (Math.round(event.pageY - $(info.el).offset().top) < 30) {

                     // find all dates between start and actual cell
                     dates = dateRange(startDate, info.date);
                     
                     // only do something if dates is not empty
                     if (dates.length > 0) {

                        // reset start date
                        startDate = ""
                        $(".selectedhead").removeClass("selectedhead");

                        // left (add) or right (delete) button?
                        if (event.button === 0) {
                           
                           // reset labels
                           $("#labelDate").val("");
                           $("#labelOverwrite").val("");
                           
                           // hide overwrite (until needed)
                           $("#divOverwrite").hide();
                           
                           for (i = 0; i < dates.length; i++) {
                           
                              // change date format and add cell to the selected input on add-modal
                              $("#labelDate").val($("#labelDate").val() + moment(dates[i]).format("YYYY-MM-DD") + ",");
                              
                              // add hint on existing labels (that would be overwritten) to add-modal
                              {% for l in labels %}
                                 if (moment(dates[i]).format("YYYY-MM-DD") == "{{ l['date'] }}") {
                                    $("#labelOverwrite").val($("#labelOverwrite").val() + "{{ l["date"] }},");
                                 }
                              {% endfor %}               
                           }

                           // remove last comma from inputs
                           $("#labelDate").val($("#labelDate").val().slice(0,-1));
                           $("#labelOverwrite").val($("#labelOverwrite").val().slice(0,-1));
                           
                           // show divOverwrite when input is not empty
                           if ($("#labelOverwrite").val() != "") {
                              $("#divOverwrite").show();
                           }
                           
                           // reset label text
                           $("#labelText").val("");
                           
                           // reset start date
                           startDate = ""
                           
                           // show add-day-modal
                           $("#add-label-modal").modal("show");
                              
                        } else if (event.button == 2) {

                           // reset labels
                           $("#labelDelete").val("");

                           for (i = 0; i < dates.length; i++) {

                              // add labels that would be deleted to delete-modal
                              {% for l in labels %}
                                 if (moment(dates[i]).format("YYYY-MM-DD") == "{{ l['date'] }}") {
                                    $("#labelDelete").val($("#labelDelete").val() + "{{ l['date'] }},");
                                 }
                              {% endfor %}               

                           }
                           
                           // remove last comma from inputs
                           $("#labelDelete").val($("#labelDelete").val().slice(0,-1));
                           
                           
                           // show add-day-modal
                           $("#del-label-modal").modal("show"); 
                        }
                     }
                  }
               {% endif %}
   
            });
          },
            
         // DAY CELL CONTENT (add custom content to labelled days)
         dayCellContent: function(info) {            
            let italicEl = document.createElement("a");
            italicEl.innerHTML = info.dayNumberText;
            {% for l in labels %}
               if (moment(info.date).format("YYYY-MM-DD") == "{{ l['date'] }}") {
                  // show custom label text or category text
                  if ("{{ l['text'] }}" != "-") {
                     italicEl.innerHTML = "<i>{{ l['text'] }}</i> " + info.dayNumberText;
                  } else {
                     italicEl.innerHTML = "<i>{{ l['ctext'] }}</i> " + info.dayNumberText;
                  }

              }
            {% endfor %}
            let arrayOfDomNodes = [ italicEl ];
            return { domNodes: arrayOfDomNodes };

         },
         
         // EVENT - AFTER MOUNT
         eventDidMount: function(info) {
            
            // EVENT RIGHT CLICK (delete event)
            info.el.addEventListener("contextmenu", function (e) {
               
               // this avoids that the cell right click event is called too
               event.preventDefault();
               event.stopPropagation();
               
               // check if user is the creator (extract username from the event title)
               // not needed var event_creator = info.event.title.match(/\((.*?)\)/)[1];
               if ( "{{ user['moderator'] }}" == "True" || info.event.extendedProps.creator == "{{ user['uid'] }}") {
                  // change text and set event id and creator in hidden inputs on delete event form
                  $("#del_event_text").text("Soll der Termin wirklich gelöscht werden?");
                  $("#deleteEventBtn").text("Löschen");
                  $("#del_event_id").val(info.event.id);        
                  $("#del_event_creator").val(info.event.extendedProps.creator);
                  $("#delmodal").modal("show");
               } else if (info.event.extendedProps.moderator == "false" && info.event.extendedProps.disabled == "false") {

                  // change text and set event id and creator in hidden inputs on delete event form
                  $("#del_event_text").text("Dieser Termin wurde von " + info.event.extendedProps.creator + " erstellt und kann daher nicht gelöscht, wohl aber deaktiviert werden. Diese Änderung bleibt sichtbar. Fortfahren?");
                  $("#deleteEventBtn").text("Ändern");
                  $("#del_event_id").val(info.event.id);        
                  $("#del_event_creator").val(info.event.extendedProps.creator);
                  $("#delmodal").modal("show");
               } else {
                  if (info.event.extendedProps.moderator == "true") {
                     flash("Moderatoren-Termin kann nicht gelöscht werden");
                  } else if (info.event.extendedProps.disabled == "true") {
                     flash("Termin ist bereits deaktiviert");
                  } else {
                     flash("Termin kann nicht gelöscht werden");
                  }
               }
                  

            });
         },
         
         // EVENT MOUSE ENTER (show tooltip)
         eventMouseEnter: function(info) {
            var tooltip = "<div class=\"tooltipevent\">" + info.event.extendedProps.description + "</div>";
            var $tooltip = $(tooltip).appendTo("body");
            $(info.el).mouseover(function(e) {
               $(this).css("z-index", 10000);
               $tooltip.fadeIn("500");
               $tooltip.fadeTo("10", 1.9);
            }).mousemove(function(e) {
               $tooltip.css("top", e.pageY + 10);
               $tooltip.css("left", e.pageX + 20);
            });
         },
         
         // EVENT MOUSE LEAVE (remove tooltip)
         eventMouseLeave: function(info) {
            $(this).css("z-index", 8);
            $(".tooltipevent").remove();
         },
         
         // EVENT CLASS NAMES (add custom class to cells based on extended properties)
         eventClassNames: function(arg) {
            if (arg.event.extendedProps.disabled == "true") {
               return [ "disabled" ]
            } else if (arg.event.extendedProps.moderator == "true") {
               return [ "moderator" ]
            } else {
               return [ "normal" ]
            }
         
         {% if user['editor'] %} // CAREFUL HERE

         },
         
         // DATE LEFT CLICK (add events/labels[for moderators])
         dateClick: function(info) {
            
            // check if moderator AND clicking head (this is NOT creating an event)
            {% if user['moderator'] %}
               // as moderator: are we clicking on cell head
               if (Math.round(info.jsEvent.pageY - $(info.dayEl).offset().top) > 30) {
            {% endif %}
               
            // click on blocking-days are blocked out
            var blocked = false;
            {% for l in labels %}
               if (moment(info.date).format("YYYY-MM-DD") == "{{ l['date'] }}" && "{{ l['cblocks'] }}" == "1") {
                  blocked = true;
               }
            {% endfor %}

            if (!blocked) {
               
               // as moderator show div with select and check
               {% if user['moderator'] %}
                  $("#eventModeratedDiv").show();
                  $("#eventModerated").prop("checked", true);
               {% else %}
                  $("#eventModerated").prop("checked", false);
               {% endif %}

               // enable warning, if length of selected is > threshold
               //~ $("#addgroupsel").focus()
               //$("#addgroupsel").trigger("change");
               
               // move multi-select on modal to selected item
               //~ scrollToSelected("addgroupsel");

               // reset and show the addevent-modal
               $("#addtext").val("");
               $("#adddate").val(info.dateStr);
               $("#addsubject").val("");

               //~ $("#addgroupsel").focus();
               //~ $("#addgroupsel").change();

               // show the addevent-modal
               $("#addmodal").modal("show");

            }
            
            {% if user['moderator'] %}
               } // this just closes the if-clause for moderator to avoid execution on header-click
            {% endif %}
            
            
         },
         
         // EVENT LEFT CLICK (toggle filter)
         eventClick: function(info) {

            var groups = document.getElementById("groupsel"),
                c,
                i;
            
            // if filtertext is the same as elements group switch back to all - otherwise switch filter to group of element
            if (info.event.extendedProps.group == $("#inpfilter").val()) {

               for (i = 0; i < groups.length; i++) {
                  // extract group from title and compare with groupname
                  groups[i].selected = true;
               }
               flash("Zeige alle Klassen");
            } else {

               for (i = 0; i < groups.length; i++) {
                  // extract group from title and compare with groupname
                  groups[i].selected = false;
                  
                  if (groups[i].text == info.event.extendedProps.group) {
                     groups[i].selected=true;
                  }
               }
               flash("Zeige nur die "+info.event.extendedProps.group)
            }
            $("#groupsel").focus();
            $("#groupsel").change();
            $("#inpfilter").focus();
            //return false;
            //e.preventDefault();

         {% endif %} // CAREFUL HERE
         
         }
      });

      calendar.render();

      {% if user['editor'] %}
      
         // GROUPSEL CHANGE (does all the filter stuff)
         $("#groupsel").on("change", function() {
            // use flask/jinja2 to connect groups and cohorts
            var group_cohort = {
                  {% for g in group_list %}
                     "{{ g['name'] }}":"{{ g['cohort'] }}",
                  {% endfor %} 
               },
                selected,
                cohorts = document.getElementById("cohortsel"),
                groups = document.getElementById("groupsel"),
                inpfilter = document.getElementById("inpfilter"),
                change,
                filterstring,
                i,
                j;
            
            // cohorts: check for each cohort, of all dependent groups are set 
            for (i = 0; i < cohorts.length; i++) {
               selected = true;
               // iterate through all groups - if group belongs in cohort but is not selected, deselect cohort
               for (j = 0; j < groups.length; j++) {
                  if (group_cohort[groups[j].text] == cohorts[i].text && !groups[j].selected) {
                     selected = false
                  }
               }
               // disable cohort that failed check
               cohorts[i].selected = selected;
            }
            
            // set the filtertext-input to the selected groups if not active
            if (document.activeElement !== inpfilter) {
               filterstring = "";
               for (i = 0; i < groups.length; i++) {
                  if (groups[i].selected) {
                     filterstring = filterstring + " " + groups[i].text;
                  }
               }
               inpfilter.value = filterstring.slice(1);
            }
            
            // set export buttons get values to selected groups     
            $("#btnexport").attr("href", "/export?groups=" + $("#groupsel").val());    

            // remove all options, that are not selected in fiter, mark others
            // call button press to change selection
            
            //~ alert("ADDGROUPSELSTUFF");
            
            $("#groupselFiltered").prop("checked", true);
            $("#groupselFiltered").click();
            $("#addgroupsel option:visible").prop("selected", true);
            
            // refetch calendar events
            calendar.refetchEvents();
         });
      
      
         // MODAL BUTTON add event
         $("#addEventBtn").click(function() {
            // ajax call
            $.ajax({
               url: "/add-event",
               type: "POST",
               data: {
                  addgroupsel:    $("#addgroupsel").val(),
                  adddate:        $("#adddate").val(),
                  addtext:        $("#addtext").val(),
                  addsubject:     $("#addsubject").val(),
                  eventModerated: $("#eventModerated").prop("checked")
               },
               success: function(response) {
                  // Close modal, refetch calendar, focus input
                  $("#addmodal").modal("hide");
                  calendar.refetchEvents();
                  $("#inpfilter").focus();
                  flash();
               },
               error: function(request, status, message) {
                  // Close modal, focus input
                  $("#addmodal").modal("hide")
                  $("#inpfilter").focus();
                  flash();
               }
            });
         });

         // MODAL BUTTON delete event
         $("#deleteEventBtn").click(function() {
            // ajax call
            $.ajax({
               url: "/delete-event",
               type: "POST",
               data: {
                  event_id: $("#del_event_id").val(),
                  event_creator: $("#del_event_creator").val()
               },
               success: function(response) {
                  // Close modal and refresh calendar
                  $("#delmodal").modal("hide");
                  calendar.refetchEvents();
                  $("#inpfilter").focus();
                  flash();
               },
               error: function(request, status, message) {
                  $("#delmodal").modal("hide");
                  $("#inpfilter").focus();
                  flash();
               }
            });
         });
         
         // MODAL BUTTON add label
         $("#addLabelBtn").click(function() {
            // ajax call
            $.ajax({
               url: "/add-label",
               type: "POST",
               data: {
                  label_date:     $("#labelDate").val(),
                  label_category: $("#selCategory").val(),
                  label_text:     $("#labelText").val()
               },
               success: function(response) {
                  // Close modal and refresh calendar
                  $("#add-label-modal").modal("hide");
                  
                  //calendar.render(); // this does not work (TODO: fetch labels via post request)
                  location.reload(); // this does of course...

                  $("#inpfilter").focus();
                  flash();
               },
               error: function(request, status, message) {
                  $("#add-label-modal").modal("hide")
                  $("#inpfilter").focus();
                  flash();
               }
            });
         });

         
         // MODAL BUTTON delete label
         $("#deleteLabelBtn").click(function() {
            // ajax call
            $.ajax({
               url: "/delete-label",
               type: "POST",
               data: {
                  label_date:     $("#labelDelete").val()
               },
               success: function(response) {
                  // Close modal and refresh calendar
                  $("#del-label-modal").modal("hide");
                  
                  location.reload(); // TODO: this needs to be changed to a calender-internal method to fetch labels
                  
                  $("#inpfilter").focus();
                  flash();
               },
               error: function(request, status, message) {
                  $("#del-label-modal").modal("hide")
                  $("#inpfilter").focus();
                  flash();
               }
            });
         });


         // LEFT CLICK ON SIDEBAR TOGGLE (change focus to input filter)
         $("#togglesb").on("click", function() {
            $("#inpfilter").focus();
         });

         // RIGHT CLICK ON INPUT FILTER (delete value)
         $("#inpfilter").contextmenu(function(e) {
            e.preventDefault();
            $("#inpfilter").val("");
            $("#inpfilter").trigger("input");
         });

         // clicking into the input should fire a click for evaluating
         $("#inpfilter").on("click", function() {
            $("#inpfilter").trigger("input");
         });
         
         // convenient? reset input on escape key, select all on ctrl-a
         $("#inpfilter").on("keydown", function(event) {
            if (event.key == "Escape") {
               $("#inpfilter").val("");
               $("#inpfilter").trigger("input");
               event.preventDefault();
            } else if (event.keyCode == 65 && event.ctrlKey) {
               $("#btnall").focus();
               $("#btnall").trigger("click");
               $("#inpfilter").focus();
               $("#inpfilter").trigger("input");
               event.preventDefault();
            } else if (event.keyCode == 70 && event.ctrlKey) {
               $("#togglesb").focus();
               $("#togglesb").trigger("click");
               $("#inpfilter").focus();
               $("#inpfilter").trigger("input");
               event.preventDefault();
            } else if (event.keyCode == 66 && event.ctrlKey) {
               alert("Für die Lieferung des Faltbootes bitte hier unterschreiben\n\nX _______________________________");
               $("#inpfilter").focus();
               $("#inpfilter").trigger("input");
               event.preventDefault();
            }
         });
         
         // avoid enter on filter input
         $("#inpfilter").keypress(function(event){
            if (event.which == "13") {
               event.preventDefault();
            }
         });
         
         $("#inpfilter").on("input", function() {
            // check all values for string
            var inpfilter = document.getElementById("inpfilter"),
                i,
                j,
                groups = document.getElementById("groupsel"),
                c,
                values;
            values = inpfilter.value.replace(/  +/g, " ").split(" ");
            
            for (i = 0; i < groups.length; i++) {
               groups[i].selected=false;
               for (j = 0; j < values.length; j++) {
                  if (values[j] != "") {
                     if (groups[i].text.includes(values[j])) {
                        groups[i].selected=true;
                     }
                  }
               }
            }
            // we set the correct groups - the rest is done in groupsel change function
            $("#groupsel").change();
         });

         $("#btnall").click(function() {
            // iterate through all groups and select then
            var groups = document.getElementById("groupsel"), i;
            for(i = 0; i < groups.length; i++) {
               groups[i].selected = true;
            }
            // we set the groups - the rest is done in groupsel change function
            $("#groupsel").change();
         });
         $("#btnnone").click(function() {
            var groups = document.getElementById("groupsel"), i;
            for(i = 0; i < groups.length; i++) {
               groups[i].selected = false;
            }
            // we set the groups - the rest is done in groupsel change function
            $("#groupsel").change();
         });


         // ADDGROUPSEL change (show/hide warning)
         $("#addgroupsel").change(function() { //TODO
            
            // special case -> deselect everything when all selected
            //if ($("#addgroupsel option:visible").length == $("#groupsel").length ) {
            if ($("#addgroupsel option:selected").length > 12) {
               $("#addgroupwarning").show();
               $("#addgroupwarningcount").text($("#addgroupsel :selected").length);
               //$("#addgroupsel option:selected").prop("selected", false);
               $("#addEventBtn").prop("disabled", true);
               
            } else {
               $("#addgroupwarning").hide();
               $("#addEventBtn").prop("disabled", false);
            }
         });

         // ADD EVENT-MODAL stuff
         // GROUPSEL-FILTERED CLICK
         $("#groupselFiltered").on("click", function() {
            var groupsel = document.querySelector("#groupsel");
            // deselect all
            $("#addgroupsel option").prop("selected", false);
            $("#addgroupsel").change();
            if (!$("#groupselFiltered").prop("checked")) {

               for (i = 0; i < groupsel.length; i++) {
                  if (!groupsel[i].selected) {
                     $("#addgroupsel").find("option:contains(" + groupsel[i].text + ")").hide();
                  } else {
                     $("#addgroupsel").find("option:contains(" + groupsel[i].text + ")").show();
                  }
               }

               $("#groupselFilteredLabel").text("Filter ein");
            } else {
               $("#addgroupsel option").show();
               $("#groupselFilteredLabel").text("Filter aus");
            }

            $("#addgroupsel").change();
         });

         $("#addGroupselAll").on("click", function() {
            $("#addgroupsel option:visible").prop("selected", true);
            $("#addgroupsel").change();
         });
         
         $("#addGroupselNone").on("click", function() {
            $("#addgroupsel option:visible").prop("selected", false);
            $("#addgroupsel").change();
         });



         $("#cohortsel").on("click", function() {
            // workaround for mobile devices - just clicking the multi-select 
            // fires change function (on non-touch this is happening anyway)
            $("#groupsel").change();
         });

         $("#cohortsel").on("change", function() {
            // use flask/jinja2 to connect groups and cohorts
            var group_cohort = {
                  {% for g in group_list %}
                     "{{ g['name'] }}":"{{ g['cohort'] }}",
                  {% endfor %} 
                },
                cohorts = document.getElementById("cohortsel"),
                groups = document.getElementById("groupsel"),
                i, j;
            // find all groups that have any selected value as group
            for (i = 0; i < groups.length; i++) {
               // get corresponding cohort element by group_cohort
               groups[i].selected = false;
               for (j = 0; j < cohorts.length; j++) {
                  if (cohorts[j].text == group_cohort[groups[i].text] && cohorts[j].selected) {
                     groups[i].selected = true;
                  }
               }
            };
            // we set the groups - the rest is done in groupsel change function
            $("#groupsel").focus();
            $("#groupsel").change();
         });

         $("#groupsel").on("click", function() {
            // workaround for mobile devices - just clicking the multi-select 
            // fires change function (on non-touch this is happening anyway
            $("#groupsel").change();
         });



      {% endif %}

      {% if user['editor'] %}
         // on first start for editors select everything (and sync other filters)
         $("#btnall").focus(); //necessary to set filter
         $("#btnall").trigger("click");
         $("#inpfilter").focus();
         
         // on first start select first subject in add modal (stays there) - obsolete
         // todo: what happens on first select? input will probably just stay empty
         // $("#addsubjectsel")[0].selectedIndex = 0;
      {% endif %}

      // set export link to initial value
      $("#btnexport").attr("href", "/export?groups=" + $("#groupsel").val());
      
   });
   
   // focus to input filter
   $(document).keyup(function(e) {
      if (e.key === "Escape") { // escape key maps to keycode `27`
         $("#inpfilter").focus();
      }
   });



   // hide flashed messages after 3 seconds
   $(".alert").fadeTo(2000, 500).slideUp(500, function(){
      $(".alert").slideUp(500);
   });

   $("#groupsel").trigger("change");

</script>
