<!doctype html>
<html lang="de">
   <head>
   <meta charset="utf-8">
   <link rel="stylesheet" href="static/bootstrap/bootstrap.min.css">
   <title>KAplan - Login</title>
   </head>
   <body>
      <section class="vh-100" style="background-color: #EEEEEE;">
         <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
               <div class="col col-xl-10">
                  <div class="card" style="border-radius: 1rem;">
                     <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="static/img/exam.png" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                           <div class="card-body p-4 p-lg-5 text-black">
                              <form method="post" action="{{ url_for('login') }}">
                                 <div class="d-flex align-items-center mb-3 pb-1">
                                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                    <span class="h1 fw-bold mb-0">Corvi KAplan</span>
                                 </div>

                                 <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Anmelden</h5>

                                 <div class="form-outline mb-4">
                                    {{ form.username(class_="form-control form-control-lg", autofocus=True, placeholder="Benutzername") }}
                                 </div>
                                 <div class="form-outline mb-4">
                                    {{ form.password(class_="form-control form-control-lg", placeholder="Passwort") }}
                                 </div>

                                 <div class="pt-1 mb-4">
                                   <button class="btn btn-dark btn-lg btn-block" type="submit">Anmeldung</button>
                                   {{ form.hidden_tag() }}
                                 </div>

                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </body>
</html>
